{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <svg class="hidden">
    <svg id="icon-rewind" viewBox="0 0 36 20">
      <title>rewind</title>
      <path d="M16.315.061c.543 0 .984.44.984.984v17.217c0 .543-.44.983-.984.983L.328 10.391s-.738-.738 0-1.476C1.066 8.178 16.315.061 16.315.061zM35.006.061c.543 0 .984.44.984.984v17.217c0 .543-.44.984-.984.984L19.019 10.39s-.738-.738 0-1.475C19.757 8.178 35.006.06 35.006.06z"/>
    </svg>
  </svg>

  <div class="header_top" data-module="fixed-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>
            <a href="https://game.web-tycoon.com/?invite=xgTM">Web<span>Tycoon</span></a>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <section class="container header">
    <div class="row">
      <div class="col header_col header_col__left">
        <div>
          <h1 class="title">Многопользовательская<br />браузерная <span>экономическая</span><br /><span>стратегия</span></h1>
          <p class="text_secondary">Вам предстоит взять на&nbsp;себя роль вебмастера, окунуться в&nbsp;мир <span class="nowrap">веб-технологий</span> и&nbsp;покорить вершины мировой сети.</p>
          <ul class="list">
            <li>Всё начинается с 90-х годов</li>
            <li>Вы будете формировать команду и управлять ею</li>
            <li>Выбирайте интересные контракты, делайте сайты на заказ</li>
            <li>Чем выше ваша прибыль, тем больше у вас возможностей</li>
          </ul>
          <div class="grid__item">
            <button class="particles-button" data-module="button">Играть</button>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-flex col header_col header_col__right">
        <div id="scene" data-module="scene" class="backgrounds">
          <div class="backgrounds__item" data-depth="0.2">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560.8 522.6">
              <path fill="#f75231">
                <animate
                        attributeName="d"
                        dur="20000ms"
                        repeatCount="indefinite"
                        values="
                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196 C412,311.4,493.8,340.2,535.3,305.6z;

                  M526.8,279.3c50.8-57.5,56-140.7-64.7-204C355.3,19.2,236-17.1,128.8,76.6c-116.7,102-94.2,389.1-19.5,429c132.9,71,195.6-98.7,256.2-181.7C404.9,270.1,480.8,331.3,526.8,279.3z;

                  M526.8,279.3c16.7-44.5,12.7-177.5-63.3-224c-77.3-47.3-314-26-325.3,74c-10.4,92-110.1,351.8-26.7,366c114.7,19.6,224.7-35.3,269.3-70.7C433.3,383.1,491.5,373.3,526.8,279.3z;

                  M538.2,278.6c14.1-45.4-8.2-225.5-92-256c-174-63.3-294.1,91.5-305.4,191.5c-10.4,92-147.2,222.5-29.2,281.2c104.2,51.8,192.6-29.3,275.3-44.7C452.7,438.4,501.5,396.6,538.2,278.6z;

                  M554,241.6C574.8,180,445.3,60.4,361.5,30c-174-63.3-198.2,110.6-281.3,167.3c-96.7,66-117,233.7,1,292.4c104.2,51.8,194.1,21.3,267.7-91C385.5,342.6,515.4,355.5,554,241.6z;

                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196C412,311.4,493.8,340.2,535.3,305.6z">
                </animate>
              </path>
            </svg>
          </div>
          <div class="backgrounds__item" data-depth="0.4">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560.8 522.6">
              <path fill="#358fe5">
                <animate
                        attributeName="d"
                        dur="17000ms"
                        repeatCount="indefinite"
                        values="
                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196 C412,311.4,493.8,340.2,535.3,305.6z;

                  M526.8,279.3c50.8-57.5,56-140.7-64.7-204C355.3,19.2,236-17.1,128.8,76.6c-116.7,102-94.2,389.1-19.5,429c132.9,71,195.6-98.7,256.2-181.7C404.9,270.1,480.8,331.3,526.8,279.3z;

                  M526.8,279.3c16.7-44.5,12.7-177.5-63.3-224c-77.3-47.3-314-26-325.3,74c-10.4,92-110.1,351.8-26.7,366c114.7,19.6,224.7-35.3,269.3-70.7C433.3,383.1,491.5,373.3,526.8,279.3z;

                  M538.2,278.6c14.1-45.4-8.2-225.5-92-256c-174-63.3-294.1,91.5-305.4,191.5c-10.4,92-147.2,222.5-29.2,281.2c104.2,51.8,192.6-29.3,275.3-44.7C452.7,438.4,501.5,396.6,538.2,278.6z;

                  M554,241.6C574.8,180,445.3,60.4,361.5,30c-174-63.3-198.2,110.6-281.3,167.3c-96.7,66-117,233.7,1,292.4c104.2,51.8,194.1,21.3,267.7-91C385.5,342.6,515.4,355.5,554,241.6z;

                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196C412,311.4,493.8,340.2,535.3,305.6z">
                </animate>
              </path>
            </svg>
          </div>
          <div class="backgrounds__item" data-depth="0.6">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560.8 522.6">
              <path fill="#b440bf">
                <animate
                        attributeName="d"
                        dur="13000ms"
                        repeatCount="indefinite"
                        values="
                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196 C412,311.4,493.8,340.2,535.3,305.6z;

                  M526.8,279.3c50.8-57.5,56-140.7-64.7-204C355.3,19.2,236-17.1,128.8,76.6c-116.7,102-94.2,389.1-19.5,429c132.9,71,195.6-98.7,256.2-181.7C404.9,270.1,480.8,331.3,526.8,279.3z;

                  M526.8,279.3c16.7-44.5,12.7-177.5-63.3-224c-77.3-47.3-314-26-325.3,74c-10.4,92-110.1,351.8-26.7,366c114.7,19.6,224.7-35.3,269.3-70.7C433.3,383.1,491.5,373.3,526.8,279.3z;

                  M538.2,278.6c14.1-45.4-8.2-225.5-92-256c-174-63.3-294.1,91.5-305.4,191.5c-10.4,92-147.2,222.5-29.2,281.2c104.2,51.8,192.6-29.3,275.3-44.7C452.7,438.4,501.5,396.6,538.2,278.6z;

                  M554,241.6C574.8,180,445.3,60.4,361.5,30c-174-63.3-198.2,110.6-281.3,167.3c-96.7,66-117,233.7,1,292.4c104.2,51.8,194.1,21.3,267.7-91C385.5,342.6,515.4,355.5,554,241.6z;

                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196C412,311.4,493.8,340.2,535.3,305.6z">
                </animate>
              </path>
            </svg>
          </div>
          <div class="backgrounds__item" data-depth="0.8">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560.8 522.6">
              <path fill="#30b44f">
                <animate
                        attributeName="d"
                        dur="9000ms"
                        repeatCount="indefinite"
                        values="
                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196 C412,311.4,493.8,340.2,535.3,305.6z;

                  M526.8,279.3c50.8-57.5,56-140.7-64.7-204C355.3,19.2,236-17.1,128.8,76.6c-116.7,102-94.2,389.1-19.5,429c132.9,71,195.6-98.7,256.2-181.7C404.9,270.1,480.8,331.3,526.8,279.3z;

                  M526.8,279.3c16.7-44.5,12.7-177.5-63.3-224c-77.3-47.3-314-26-325.3,74c-10.4,92-110.1,351.8-26.7,366c114.7,19.6,224.7-35.3,269.3-70.7C433.3,383.1,491.5,373.3,526.8,279.3z;

                  M538.2,278.6c14.1-45.4-8.2-225.5-92-256c-174-63.3-294.1,91.5-305.4,191.5c-10.4,92-147.2,222.5-29.2,281.2c104.2,51.8,192.6-29.3,275.3-44.7C452.7,438.4,501.5,396.6,538.2,278.6z;

                  M554,241.6C574.8,180,445.3,60.4,361.5,30c-174-63.3-198.2,110.6-281.3,167.3c-96.7,66-117,233.7,1,292.4c104.2,51.8,194.1,21.3,267.7-91C385.5,342.6,515.4,355.5,554,241.6z;

                  M535.3,305.6c50.3-41.8-0.9-160.3-88-226c-114-86-216-108-340-38c-146.8,82.9-99.7,440.1,2,464c196,46,85-200,236-196C412,311.4,493.8,340.2,535.3,305.6z">
                </animate>
              </path>
            </svg>
          </div>

          <div class="backgrounds__item backgrounds__img" data-depth="1">
              <img src="//fhxlj3zmj3hn.ulanding.me/uploads/s/4/t/7/4t7ozjrmxkzl/img/autocrop/ec4c2a56b794fec9f4ff36e011f783b2_big.png" data-module="preview" />
          </div>
        </div>
      </div>
    </div>
    <!--<div class="arrow-btn">-->
      <!--<a href="#about"><i class="fa fa-angle-double-down arrow-icon " data-wow-iteration="1000" aria-hidden="true"></i></a>-->
    <!--</div>-->
  </section>


  <section class="container statistic">
    <div class="row">
      <div class="col-6 col-lg-3">
        <p data-module="numeral" data-speed="3000">3580</p>
        <h2>Сайтов<br />созданно</h2>
      </div>
      <div class="col-6 col-lg-3">
        <p data-module="numeral" data-speed="5000" data-type="random">290</p>
        <h2>Пользователей<br />онлайн</h2>
      </div>
      <div class="col-6 col-lg-3">
        <p data-module="numeral" data-speed="2000">59380</p>
        <h2>Сделок<br />совершенно</h2>
      </div>
      <div class="col-6 col-lg-3">
        <p data-module="numeral" data-speed="1200">4679</p>
        <h2>Сообщений<br />в чате</h2>
      </div>
    </div>
  </section>

  <section class="separator">
    <div class="container">
      <h2 class="text_h2 text_center">Игра <span class="color_blue">от компании-разработчика</span> конструктора сайтов <span class="color_blue">uCoz</span> и поэтому максимально приближена к реальности</h2>
    </div>
  </section>


  <section class="cards" data-module="rellax">
    <div class="container">
      <div class="rellax" data-rellax-speed="-6">
        <img src="//fhxlj3zmj3hn.ulanding.me/uploads/s/4/t/7/4t7ozjrmxkzl/file/r6glPJ1z.svg" alt="">
      </div>
      <div class="row">
        <div class="col-12 col-md-6 img">
          <img src="//fhxlj3zmj3hn.ulanding.me/uploads/s/4/t/7/4t7ozjrmxkzl/img/autocrop/49d34de92e4333161a914394c509e89c_big.png" />
        </div>
        <div class="col">
          <h2 class="text_h2">Станьте <span class="color_blue">во главе</span> новой <span class="color_blue">индустрии</span></h2>
          <p class="text_secondary">Вы начинаете игру на заре новой эпохи, когда веб-индустрия только начинает развиваться. Вы стоите у истоков новых технологий, и впереди длинный путь по развитию своих навыков.</p>
        </div>
      </div>

      <div class="row bg_triangle">
        <div class="col-12 col-md-6 order-1 order-md-0 text_right">
          <h2 class="text_h2"><span class="color_blue">Создавайте первые</span> сайты, которые смогут <span class="color_blue">завоевать</span> целые <span class="color_blue">сегменты</span> рынка</h2>
          <p class="text_secondary">Завоевав преимущество - не упускайте его. На прибыль, полученную от созданных сайтов, вы сможете нанять сотрудников, которые будут помогать вам развивать ваш бизнес, или фрилансеров, выполняющих разовые задачи.</p>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1 img">
          <img src="//fhxlj3zmj3hn.ulanding.me/uploads/s/4/t/7/4t7ozjrmxkzl/img/autocrop/92706d69f69363844c1a78ca19257bab_big.png" />
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 img">
          <img src="//fhxlj3zmj3hn.ulanding.me/uploads/s/4/t/7/4t7ozjrmxkzl/img/autocrop/2c41b0863c883fb0dc7bd0c41d5d2f7b_big.png" />
        </div>
        <div class="col">
          <h2 class="text_h2">Объединяйтесь и <span class="color_blue">открывайте</span> новые <span class="color_blue">технологии</span> первыми</h2>
          <p class="text_secondary">Зарабатывайте на ваших сайтах с помощью продажи рекламных мест, обменивайтесь ссылками, вступайте в кольца сайтов и объединяйтесь в крупные холдинги! Вместе вы станете сильнее, а возможность совместных атак на сайты конкурентов добавит борьбе остроты.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="reviews">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <div class="ui-card">
            <p class="text_secondary">
              Полгода уже рублюсь в Web Tycoon - это самая чумовая игруха для людей с мозгами и амбициями.
              Можно ддосить или спамить других игроков. Это непередаваемое ощущение)
            </p>
          </div>
          <div class="user">
            <div class="avatar" style="background-image: url('//pp.userapi.com/c824411/v824411981/16f1c7/yRjKJ0qjxdQ.jpg')">
            </div>
            <div class="info">
              <h3 class="text_h3">Артём Соловьёв</h3>
              <p class="text_secondary">34 года</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md">
          <div class="ui-card">
            <p class="text_secondary">
              Спасибо за то что дали мне возможность увидеть игру на этапе раннего доступа, считаю что это был лучший опыт в данном жанре игр.
            </p>
          </div>
          <div class="user">
            <div class="avatar" style="background-image: url('//pp.userapi.com/c848536/v848536069/93544/XQxyWAbxzvk.jpg')">
            </div>
            <div class="info">
              <h3 class="text_h3">Виктория Строкова</h3>
              <p class="text_secondary">13 лет</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md">
          <div class="ui-card">
            <p class="text_secondary">
              Очень крутая игра!!! Каждый раз, поглощает меня с головой. : (
              Только вот один минус: игра становиться однообразной после месяца, если играть по 7 часов в день. : з
            </p>
          </div>
          <div class="user">
            <div class="avatar" style="background-image: url('//pp.userapi.com/c846019/v846019535/118984/HVJFtQU858k.jpg')">
            </div>
            <div class="info">
              <h3 class="text_h3">Антон Тихевич</h3>
              <p class="text_secondary">22 года</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="block-button">
    <div class="grid__item">
      <button class="particles-button" data-module="button">Играть бесплатно</button>
    </div>
  </section>


  <section class="container news">
    <div class="row">
      <div class="col-12 col-lg-4">
        <a target="_blank" href="https://web-tycoon.com/we-go-to-boomstarter" class="ui-card">
          <div
            class="img"
            style="background-image: url('https://web-tycoon.com/_bl/0/s71030578.jpg')"
          ></div>
          <div class="desc">
            <h2>Мы выходим на Бумстартер</h2>
            <p class="text_secondary">Мы много лет занимаемся веб-разработкой и нам порой хочется, чтобы задуманные проекты запускались легко и быстро. Поэтому мы сделали Web Tycoon — игру, в которой такое возможно.</p>
          </div>
        </a>
      </div>

      <div class="col-12 col-lg-4">
        <a target="_blank" href="https://web-tycoon.com/first-update" class="ui-card">
          <div
            class="img"
            style="background-image: url('https://web-tycoon.com/_bl/0/15933524.jpg')"
          ></div>
          <div class="desc">
            <h2>Первое большое обновление</h2>
            <p class="text_secondary">За 18 дней открытого доступа, с вашей помощью, мы внесли много изменений в игру.</p>
          </div>
        </a>
      </div>

      <div class="col-12 col-lg-4">
        <a target="_blank" href="https://web-tycoon.com/open-test" class="ui-card">
          <div
            class="img"
            style="background-image: url('https://web-tycoon.com/img/blog/bg.png')"
          ></div>
          <div class="desc">
            <h2>Запускаем открытый тест</h2>
            <p class="text_secondary">Открываем ранний доступ в игру. В отличие от предыдущих туров, продолжительность игры не ограничена двумя неделями. Заходите, играйте, делитесь впечатлениями.</p>
          </div>
        </a>
      </div>
    </div>
  </section>


  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          © <a href="/">Web Tycoon</a>, by <a href="https://ukit.group/" target="_blank">uKit Group</a> aka <a href="http://www.ucoz.ru/" target="_blank">uCoz</a>
        </div>
        <div class="d-none d-md-block col-md-6 text_right text_600">
          2018
        </div>
      </div>
    </div>
  </section>
{% endblock %}
