.news {
  padding-top: 5rem;
  padding-bottom: 3rem;

  .ui-card {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    background-color: rgb(250, 251, 255);
    overflow: hidden;
    height: 100%;
    position: relative;
    border-radius: 10px;
    //box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: $box-shadow;
    transition: .4s;

    .img {
      height: 15rem;
      background-size: cover;
      background-position: 50%;
    }

    .desc {
      padding: 2rem;

      h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }

  .col-12 {
    padding-bottom: 2rem;
  }
}
