.list {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 15px;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba($color-blue, .8);
      box-shadow: 0 0 0 7px rgba(47, 91, 231, 0.1);
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
}
