@import "base/typography";

$color-blue: #157cb9;
$color-secondary: #5a5a5a;


body {
  overflow-x: hidden;
  background: #ecf0f1;
}


.header {

  &_top {
    padding: 1rem 0;
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1rem;

      span {
        color: $color-blue;
      }
    }
  }

  .row {
    //padding-top: 3rem;
    //padding-bottom: 16rem;
    //min-height: calc(100vh - 59px - 3rem);
    min-height: calc(100vh - 59px);
    padding-bottom: 59px;
  }

  &_col {
    display: flex;
    align-items: center;
    justify-content: center;

    &__left {
      //margin-top: -12%;
    }
    &__right {
      margin-top: -8%;
    }
  }

  .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    color: #293e51;
    margin-bottom: 2rem;
    white-space: nowrap;

    span {
      color: $color-blue;
    }
  }

  .text_secondary {
    margin-bottom: 2rem;
  }

  .list {
    margin-bottom: 4rem;
  }

  .backgrounds {
    position: relative;
    pointer-events: auto !important;
    //height: 100%;
    width: 100%;
    //margin-top: -70%;
    //top: 40%;

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .2;
    }

    &__img {
      opacity: 1;

      img {
        cursor: pointer;
        box-shadow: -0.7rem 1.7rem 4rem 0.5rem rgba(0,0,0,.3);
        width: 100%;
        margin-top: 50%;
        transform: translateY(-50%);
        border-radius: 1rem;
      }
    }
  }
}


.text {
  &_secondary {
    color: $color-secondary;
  }

  &_right {
    text-align: right;
  }
}

.nowrap {
  white-space: nowrap;
}


.list {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 15px;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba($color-blue, .8);
      box-shadow: 0 0 0 7px rgba(47, 91, 231, 0.1);
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
}









.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.grid__item {
  position: relative;
  display: inline-block;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  overflow: visible;
}


.icon {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  fill: currentColor;
}

svg:not(:root){overflow:hidden;}

.particles {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  will-change: transform;
}

.particles-button {
  cursor: pointer;
  user-select: none;
  position: relative;
  border-radius: 5px;
  background: #00bf9b;
  color: #fff;
  border: 0;
  margin: 0;
  font-size: 1.2rem;
  padding: .7rem 2rem;
  will-change: transform;

  .particles:hover & {
    background: #00ac8c;
  }
}

.particles-button:focus {
  outline: none;
}

.no-js .particles-button {
  grid-area: 1 / 1 / 2 / 2;
}





.statistic {
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
  margin-bottom: 3rem;

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

  }
}



.separator {
  background-color: #1b5276;
  color: #fff;
  padding: 4rem 0;

  h2 {
    font-weight: 300;
  }
}


.cards {
  background: #fff;
  padding: 6rem 0;

  .row {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .img {
    text-align: center;

    img {
      width: 70%;
    }
  }
}


.block-button {
  background-color: #1b5276;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}


.news {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .card {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    background-color: rgb(250, 251, 255);
    overflow: hidden;
    height: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;

    .img {
      height: 15rem;
      background-size: cover;
      background-position: 50%;
    }

    .desc {
      padding: 2rem;

      h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }
}


.footer {
  background-color: #1b5276;
  color: #fff;
  line-height: 4rem;

  a {
    color: #fff;
    opacity: .7;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}


//.separator {
//  margin-top: 20rem;
//  position: relative;
//  padding: 300px 0;
//
//  &__bg {
//    background-image: url('/images/crf_comp-01.png');
//    height: 100%;
//    position: absolute;
//    left: -50px;
//    top: -80px;
//    bottom: -50px;
//    right: -50px;
//    border-radius: 0 130px 0 130px;
//    transform: rotate(-7deg);
//
//    background-size: cover;
//    background-repeat: no-repeat;
//    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
//    animation: bg-animation 25s ease-in-out infinite;
//  }
//}
//
//@keyframes bg-animation {
//  0% {
//    background-position: top;
//  }
//
//  50% {
//    background-position: bottom;
//  }
//  100% {
//    background-position: top;
//  }
//}
